.head {
    background-color: #4230e0;
    background-image: linear-gradient(45deg, #4230e0 0%, #0f0b35 100%);
}

.search-area {
    width: 100%;
    border-radius: 4px;
}

.search-btn {
    background-color: #5695e9;
    color: white;
    width: 100%;
    border-radius: 4px;
}

.past-btn {
    background-color: rgb(158, 146, 146);
    color: white;
    width: 100%;
    border-radius: 4px;
}

.search-div {
    border-bottom: 2px solid black;
}

.city-info {
    border-style: solid;
    border-width: 2px;
}

.card {
    background-color: rgb(19, 56, 136);
    height: 200px;
    margin: 15px;
}

.hide {
    display: none;
}

.uv {
    border-radius: 4px;
}

.icon {
    width: 50px;
}